html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* #9a6f34 */
/* #c9caca */

/* start */
/* * {
	border: 1px solid black;
} */

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.banner {
	background-image: url("pic/howma-pc.jpg");
	width: 100vw;
	height: 100vh;
	/* background-attachment: fixed; */
	background-position: center center;
	background-size: cover;
	padding-left: 2%;
}
a {
	color: #000;
	font-family: 'Vollkorn', serif;
	letter-spacing: 3px;
}
.vertical {
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	color:#fff;
	letter-spacing: 3;
}
.mt140	{
	margin-top: 140px;
}
.floatFix {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

@media (max-width: 767px) {
	.vertical {
		display: none;
	}
}
.hidden {
	display: none;
}
.button_container {
	position: fixed;
	top: 5%;
	right: 2%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;
  }
  .button_container:hover {
	opacity: .7;
  }
  .button_container.active .top {
	-webkit-transform: translateY(11px) translateX(0) rotate(45deg);
			transform: translateY(11px) translateX(0) rotate(45deg);
	background: #FFF;
  }
  .button_container.active .middle {
	opacity: 0;
	background: #FFF;
  }
  .button_container.active .bottom {
	-webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
			transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #FFF;
  }
  .button_container span {
	background: #FF5252;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
	top: 11px;
  }
  .button_container span:nth-of-type(3) {
	top: 22px;
  }
  .overlay {
	position: fixed;
	background: #FF5252;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
	z-index: 2;
  }
  .overlay.open {
	opacity: .9;
	visibility: visible;
	height: 100%;
  }
  .overlay.open li {
	-webkit-animation: fadeInRight .5s ease forwards;
			animation: fadeInRight .5s ease forwards;
	-webkit-animation-delay: .35s;
			animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
	-webkit-animation-delay: .4s;
			animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
	-webkit-animation-delay: .45s;
			animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
	-webkit-animation-delay: .50s;
			animation-delay: .50s;
  }
  .overlay nav {
	position: relative;
	height: 70%;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	font-size: 50px;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	text-align: center;
  }
  .overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
  }
  .overlay ul li {
	display: block;
	height: 25%;
	height: calc(100% / 4);
	min-height: 50px;
	position: relative;
	opacity: 0;
  }
  .overlay ul li a {
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	width: 100%;
  }
  .overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	height: 3px;
	background: #FFF;
	transition: .35s;
  }
  
  @-webkit-keyframes fadeInRight {
	0% {
	  opacity: 0;
	  left: 20%;
	}
	100% {
	  opacity: 1;
	  left: 0;
	}
  }
  
  @keyframes fadeInRight {
	0% {
	  opacity: 0;
	  left: 20%;
	}
	100% {
	  opacity: 1;
	  left: 0;
	}
  }
.navigation a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
ul.tribe {
	display: none;
}
.title h1 {
	color: #fff;
}

.brandName {
	font-size: 242px;
}
@media (max-width: 767px) {
	.brandName {
		font-size: 100px;
	}
}
.natureTogather {
	font-size: 50px;
	color: #fff;
}
@media (max-width: 767px ) {
	.natureTogather {
		font-size: 18px;
	}
}
.slogan {
	color: #d3caca;
	height: 100%;
}
.title2	{
	background-color: #d3caca;
	margin: 5% auto;
	max-width: 60%;
	text-align: center;
	padding: 3% 0;
	border-radius: 100px;
}
.title {
	margin: 0;
	position: relative;
	width: 100%;
	background-color: #f97a7a;
	height: 300px;
	opacity: 1;
	text-align: center;
	font-family: 'helvetica';
	font-size: 80px;
	font-weight: 100;
	color: #ccc;
}
.products img {
	width: 100%;
	height: auto;
}

.mainbgc {
	background-color: #f97a7a;
}
.logo {
	width: 30%;
	background-color: darkgreen;
	height: auto;
	text-align: center;
	vertical-align: center;
}
.contact {
	width: 34%;
	margin: 0 3%;
}
.contact-2 {
	width: 30%;
}
.floatleft {
	margin-top: 5%;
	float: left;
}
@media (max-width: 767px) {
	.logo {
		width: 100%;
	}
	.contact {
		width: 100%;
	}
	.contact-2 {
		width: 100%;
	}
	.floatleft {
		float : none;
	}
}
.clearfix {
	clear: both;	
}